<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- Launch Intel RealSense -->
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
		<arg name="camera" 				default="realsense"/>
		<arg name="align_depth" 		value="true"/>
		<arg name="enable_fisheye"		value="false"/>
		<arg name="enable_infra1"		value="false"/>
		<arg name="enable_infra2"		value="false"/>
		<arg name="enable_gyro"			value="false"/>
		<arg name="enable_accel"		value="false"/>
		<arg name="filters"				value="decimation,disparity,spatial,temporal,hole_filling"/>
	</include>

	<!-- Launch object detection -->
	<include file="$(find object_detection_openvino)/launch/mobilenet_cpu.launch">
		<arg name="info_topic"			value="/realsense/camera_info"/>
		<arg name="color_topic"			value="/realsense/color/image_raw"/>
		<arg name="depth_topic"			value="/realsense/aligned_depth_to_color/image_raw"/>
	</include>
</launch>

