<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- Launch Intel RealSense -->
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
		<arg name="camera" 				value="realsense"/>
		<arg name="align_depth" 		value="true"/>
		<arg name="enable_fisheye"		value="false"/>
		<arg name="enable_infra1"		value="false"/>
		<arg name="enable_infra2"		value="false"/>
		<arg name="enable_gyro"			value="false"/>
		<arg name="enable_accel"		value="false"/>
		<arg name="enable_pointcloud"   value="true"/>
		<arg name="ordered_pc" 			value="true"/>
		<arg name="filters"				value="decimation,hdr_merge,disparity,spatial,temporal"/>
		<arg name="clip_distance" 		value="4"/>
	</include>

	<!-- Run a passthrough filter to clean NaNs -->
	<node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
	<node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough pcl_manager" output="screen">
		<remap from="~input" to="/realsense/depth/color/points" />
		<remap from="~output" to="/realsense/depth/color/points_filtered" />
		<rosparam>
           keep_organized: true
           filter_field_name: z
           filter_limit_min: 0.10
           filter_limit_max: 10.0
           filter_limit_negative: False 
        </rosparam>
	</node>

	<!-- Launch object detection -->
	<include file="$(find object_detection_openvino)/launch/mobilenet_myriad.launch">
		<arg name="camera_frame"		value="realsense_link"/>
		<arg name="color_topic"			value="/realsense/color/image_raw"/>
		<arg name="points_topic"		value="/realsense/depth/color/points_filtered"/>
	</include>
</launch>

