<?xml version="1.0" encoding="utf-8"?>

<launch>
	<node pkg="object_detection_openvino" type="object_detection_openvino" name="object_detection_openvino" output="screen">
		<param name="info_topic"				value="/camera/aligned_depth_to_color/camera_info"/>
		<param name="color_topic"				value="/camera/color/image_raw"/>
		<param name="detection_image_topic"		value="detected_image"/>
		<param name="detection_info_topic"		value="detection_info"/>
		<param name="detection_2d_topic"		value="detection_2d"/>
		<param name="model_thresh"				value="0.4"/>
		<param name="model_iou_thresh"			value="0.4"/>
		<param name="model_xml"					value="$(find object_detection_openvino)/models/frozen/1frozen_darknet_yolov3_model.xml"/>
		<param name="model_bin"					value="$(find object_detection_openvino)/models/frozen/1frozen_darknet_yolov3_model.bin"/>
		<param name="model_labels"				value="$(find object_detection_openvino)/models/frozen/1frozen_darknet_yolov3_model.labels"/>
		<param name="model_type"				value="YOLO"/>
		<param name="device_target"				value="MYRIAD"/>
		<param name="show_fps"					value="false"/>
		<param name="output_image"				value="true"/>
	</node>
</launch>

